{% extends 'index.html' %}

{% block content %}

<h2>Account Section</h2>

<form action="">
    {% csrf_token %}
    {% for field in form %}
    <div class="background-blurrer">
        <div id="signup-page">
            <img src="{% static 'images/Exhub_logo.png' %}" alt="expertise hub socials-logo">
            <h2 class="logsign-header">Expert sign up</h2>
            <form action="{% url 'register-user' %}" class="form sign-form" method="POST">
                {% csrf_token %}
                {% for field in form %}
                {{field}}
                {% endfor %}

                <button type="submit" class="logsign-btn">Register</button>
            </form>
            <div class="line"></div>
            <p>Already have an account ?</p>
            <a href="{% url 'user-login' %}" class="ls-links">Log in</a>
        </div>
    </div>

    {% endfor %}

</form>

{% end block content %}