{% load static %}
  <!-- Footer -->

  <div class="footer-wrapper">

    <div class="footer">
      <div class="social">
        <img src="{% static 'images/Exhub_logo.png' %}" alt="expertise hub logo" class="footer-logo">
        <p>Our Socials</p>
        <div class="socials">
          <a href="https://facebook.com">
            <img src="{% static 'images/socials_logos/facebook_logo.png' %}" class="socials-logo" alt="link to facebook">
          </a>
          <a href="https://instagram.com">
            <img src="{% static 'images/socials_logos/instagram_logo.png' %}" class="socials-logo" alt="link to instagram">
          </a>
          <a href="https://twitter.com">
            <img src="{% static 'images/socials_logos/twitter_logo.png' %}" class="socials-logo" alt="link to twitter">
          </a>
          <a href="https://linkedin.com">
            <img src="{% static 'images/socials_logos/linkedin_logo.png' %}" class="socials-logo" alt="link to linked in">
          </a>
        </div>
      </div>
      <div class="get-help">
        <h3 class="ft-header">Support</h3>
        <ul class="footer-links">
          <li><a href="">FAQs</a></li>
          <li><a href="">Help</a></li>
          <li><a href="">Customer Service</a></li>
          <li><a href="">Terms and Conditions</a></li>
          <li><a href="">Repot an Issue</a></li>
        </ul>
      </div>
      <div class="ft-recent-blogs">
        <h3 class="ft-header">Recent Blogs</h3>
        <ul class="footer-links">
          <li><a href="#">First Step Towards Success</a></li>
          <li><a href="/blogs.html">A Plethora of Opportunities</a></li>
          <li><a href="#">Winning Over Fear</a></li>
        </ul>
      </div>
      <div class="ft-contact">
        <h3 class="ft-header">Contact us</h3>
        <ul class="footer-links contact">
          <li>
            <p>Thankot-4, Kathmandu</p>
          </li>
          <li><a href="mailto:expertisehub@info">expertisehub@info</a></li>
          <li>+977-9812345678<br>01-4312345</li>
        </ul>
      </div>
    </div>
    <p id="copyright">&copy; Copyright 2023, All rights reserved</p>
  </div>
