{% load static %}
  <!-- speciality section -->


  <div class="speciality parent-div">

    <div class="spec-left">
      <img src="{% static 'images/spec_img.jpg' %}" alt="a girl with a laptop">
    </div>
    <div class="spec-right">
      <p>A whole world of experts at your fingertips.</p>
      <ul class="spec-list">
        <li>
          <h3 class="list-heading">Proof of quality</h3>
          <p class="list-description">Check any pro&#39;s work samples, client reviews, and identity
            verification.</p>
        </li>
        <li>
          <h3 class="list-heading">No cost until you hire</h3>
          <p class="list-description">Browse and consult freely. Pay only when you hire.</p>
        </li>
        <li>
          <h3 class="list-heading">Safe and secure</h3>
          <p class="list-description">Be carefree with your personal data. It&#39;s safe us.</p>
        </li>
      </ul>
    </div>

  </div>
