{% load static %}
  <!-- Testimonials -->

  <div id="testimonials" class="parent-div">
    <h2 class="section-header">Words from the clients
    </h2>
    <div class="testimonials">
      <div class="testimonial-container">
        <div class="testimonial-image">
          <img src="{% static 'images/testimonials/katherine_johnson.jpg' %}" alt="Katherine Johnson">
        </div>
        <div class="title">
          <h2>Katherine Johnson</h2>
          <p>Marketing Executive
          <p>
        </div>
        <blockquote class="quote">
          "We really needed a marketing expert who could help us with our long awaited marketing campaign. Gladly we
          stumbled upon Expertise Hub. We found the right expert at the right time resulting in a drastic increase in
          our sales."
        </blockquote>
      </div>
      <div class="testimonial-container">
        <div class="testimonial-image">
          <img src="{% static 'images/testimonials/mike_miller.jpg' %}" alt="Mike Miller">
        </div>
        <div class="title">
          <h2>Mike Miller</h2>
          <p>College Sophomore
          <p>
        </div>
        <blockquote class="quote">
          "I really needed an expert to help me assist in some of the topics of my project that I didn't know much of.
          Hopefully expertise hub was a life saver for me. I found the right experts at the right time who could assist
          me
          with their expertise."
        </blockquote>
      </div>
      <div class="testimonial-container">
        <div class="testimonial-image">
          <img src="{% static 'images/testimonials/scarlet_brown.jpg' %}" alt="Scarlet Brown">
        </div>
        <div class="title">
          <h2>Scarlet Brown</h2>
          <p>Aspiring Software Engineer
          <p>
        </div>
        <blockquote class="quote">
          "Coders when they are starting out their coding journey run into errors and bugs every now and then. It's so
          much frustrating and demotivating when you try for hours and still can't solve the issue. Luckily Expertise
          Hub
          has always been by my side."
        </blockquote>
      </div>
      <div class="testimonial-container">
        <div class="testimonial-image">
          <img src="{% static 'images/testimonials/stefan_stefancik.jpg' %}" alt="Stefan Stefancik">
        </div>
        <div class="title">
          <h2>Stefan Stefancik</h2>
          <p>Guitarist
          <p>
        </div>
        <blockquote class="quote">
          "Although I've been playing for my band for about half a decade, there are times when I struggle to perform on
          stages. Tips from musical experts from Expertise Hub has helped
          overcome this fear and improve my
          musical skills."
        </blockquote>
      </div>
    </div>

  </div>
